<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novel Space</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/199ff396c8.js"></script>
  <!-- hangover from html file <link rel="stylesheet" href="./public/css/style.css">-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400&family=Public+Sans:ital,wght@0,200;0,400;1,200&family=Stint+Ultra+Condensed&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://kit.fontawesome.com/3716f1a90c.js" crossorigin="anonymous"></script>
</head>

<!-- header -->
<header class="navbar navbar-fixed-top">
  <div class="container">

    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">NOVEL SPACE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books">Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="btn-login">
            <a href="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>



    <div class="navbar-header">
      <h1>NOVEL SPACE</h1>
    </div>
    <div id="navbar nav-desk nav-mob">
      <ul class="nav navbar-log">
        <li class="btn-login"><a href="/login">Login</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/book">Library</a></li>
        <li><a href="/login">Profile</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  </div>
</header>

  {{{ body }}}

<footer>

</footer>
</div>

<!-- Render script for logged in users only -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>