<main>
  <div class="books">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <h3>Add a New Book:</h3>
          <form class="form new-book-form">

            <div class="form-group">
              <label for="book-title">Book title:</label>
              <input class="form-input" type="text" id="book-title" name="book-title" />
            </div>

            <div class="form-group">
              <label for="book-author">Book author:</label>
              <input class="form-input" type="text" id="book-author" name="book-author" />
            </div>

            <div class="form-group">
              <label for="book-genre">Book genre:</label>
              <select name="book-genre" id="book-genre">
                <option value="Fantasy">Fantasy</option>
                <option value="Adventure">Adventure</option>
                <option value="Crime">Crime</option>
                <option value="Contemporary">Contemporary</option>
                <option value="Mystery">Mystery</option>
                <option value="Thriller">Thriller</option>
                <option value="Science Fiction">Science Fiction</option>
                <option value="Children's">Children's</option>
                <option value="Other Fiction">Other Fiction</option>
                <option value="Non Fiction">Non Fiction</option>
              </select>
              <br><br>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="./js/books.js"></script>