<<<<<<< HEAD
<div class="profile">
=======
{{!-- <div class="profile">
>>>>>>> master
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Book ID: </h2><span id="book-id-change">#</span>

        <div id="id-get">{{id}}</div>




        <h4>Upload a Cover for Your New Book!</h4>
        <form class='form new-cover-form' action="/review" method="POST" enctype="multipart/form-data">
          <input type="file" name="image" id="image" />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>  
  </div>
</div>  

<<<<<<< HEAD
<script src="/js/cover.js"></script>
=======
<script src="/js/cover.js"></script> --}}
>>>>>>> master
