<h3>Upload a Cover for Your New Book!</h3>
<form action="/single" method="POST" enctype="multipart/form-data">
  <input type="file" name="image" />
  <button type="submit">Submit</button>
</form>

{{!--
<script src="./js/cover.js"></script> --}}