<<<<<<< HEAD
<<<<<<< HEAD
<!-- Loop over each object in the projects array -->
{{#each books as |book| }}
<!-- Commence body -->
      <main>
        <div class="books">
          <div class="container">
          <!-- hide on home page 
            <h2>Science Fiction</h2>
          -->
            <div class="row">
            
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="./public/img/book.png" class="card-img-top" alt="book">
                  <div class="card-body">
                    <h5 class="card-title">book title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn">Go somewhere</a>
                    <span class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></span>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="./public/img/book.png" class="card-img-top" alt="book">
                  <div class="card-body">
                    <h5 class="card-title">book title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn">Go somewhere</a>
                    <div class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="./public/img/book.png" class="card-img-top" alt="book">
                  <div class="card-body">
                    <h5 class="card-title">book title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn">Go somewhere</a>
                    <span class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- insert new category --> 
        <div class="books1">
          <div class="container">
          <!-- hide on home page 
            <h2>Science Fiction</h2>
          -->
            <div class="row">
            
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="./public/img/book.png" class="card-img-top" alt="book">
                  <div class="card-body">
                    <h5 class="card-title">book title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn">Go somewhere</a>
                    <span class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></span>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="./public/img/book.png" class="card-img-top" alt="book">
                  <div class="card-body">
                    <h5 class="card-title">book title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn">Go somewhere</a>
                    <div class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="./public/img/book.png" class="card-img-top" alt="book">
                  <div class="card-body">
                    <h5 class="card-title">book title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn">Go somewhere</a>
                    <span class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></span>
                  </div>
                </div>
=======
=======
>>>>>>> master
<body>
  <main>
    <div class="books">
      <div class="container">
        <!-- hide on home page 
            <h2>Science Fiction</h2>
          -->
        <div class="row">

          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="./img/book.jpg" class="card-img-top" alt="book">
              <div class="card-body">
                <h5 class="card-title">book title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn">Go somewhere</a>
                <span class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="./img/book.jpg" class="card-img-top" alt="book">
              <div class="card-body">
                <h5 class="card-title">book title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn">Go somewhere</a>
                <span class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="./img/book.jpg" class="card-img-top" alt="book">
              <div class="card-body">
                <h5 class="card-title">book title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn">Go somewhere</a>
                <span class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i></span>
<<<<<<< HEAD
>>>>>>> master
=======
>>>>>>> master
              </div>
            </div>
          </div>
        </div>
<<<<<<< HEAD
<<<<<<< HEAD
      </main>
{{/each}}
=======
=======
>>>>>>> master
      </div>
    </div>
  </main>
</body>

<<<<<<< HEAD
</html>
>>>>>>> master
=======
</html>
>>>>>>> master
