<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{first_name}}!</h2>
  </div>
</div>

<a href="/books">Add a New Book</a>


    <div class="col-md-6 book-list">
  
  
  {{#if books.length}}
  <div class="col-md-6 book-list">
    <h3>Current Projects:</h3>

    {{#each books as |book|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/book/{{book.id}}">{{book.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{book.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>


 <script src="./js/profile.js"></script>