<body>
  <main>
    <div class="books">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <h3>Add a Review for this book:</h3>

            <form class="form new-review-form">
              <div class="form-group">
                <label for="review-text">Your Thoughts About the Book:</label>
                <textarea class="form-input" id="review-text" name="review-text"></textarea>
              </div>
              <div class="form-group">
                <label for="star-rating">Your Star Rating Out of 5:</label>
                <textarea class="form-input" id="star-rating" name="star-rating"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Create Review</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

   <script src="./js/review.js"></script>