 <div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a Review for this book:</h3>

    <form class="form new-review-form">
 <div class="form-group">
      <label for="review-text">Your Thoughts About the Book:</label>
      <textarea class="form-input" id="review-text" name="review-text"></textarea>
    </div>
    <div class="form-group">
      <label for="star-rating">Your Star Rating Out of 5:</label>
      <textarea class="form-input" id="star-rating" name="star-rating"></textarea>
    </div>
     <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Review</button>
      </div>
      </form>
  </div>
  </div>

   <script src="./js/review.js"></script>