<main>
<h1> Book ID: </h1><span id="book-id-change">#</span>

<div id="id-get">{{id}}</div>
    <h3>Add a Review for this book:</h3>

<div class="row mt-4">
  <div class="col-md-6">
    <form class="form new-review-form">
      <div class="form-group">
        <label for="review-text">Your Thoughts About the Book:</label>
        <textarea class="form-input" id="review-text" name="review-text"></textarea>
      </div>
      {{!-- <div class="form-group">
        <label for="star-rating">Your Star Rating Out of 5:</label>
        <textarea class="form-input" id="star-rating" name="star-rating"></textarea>
      </div> --}}

      <div class="form-group">
        <label for="star-rating">Your Star Rating Out of 5:</label>
        <select name="star-rating" id="star-rating">
          <option value=1>1 Star</option>
          <option value=2>2 Star</option>
          <option value=3>3 Star</option>
          <option value=4>4 Star</option>
          <option value=5>5 Star</option>
        </select>
        <br><br>




        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create Review</button>
        </div>
    </form>
  </div>
</div>
</main>

<script src="/js/review.js"></script>