<!DOCTYPE html>
<html>

<head>
  <title>Add a book recommendation</title>
  <link rel="stylesheet" href="/jass.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <form action="/" enctype="multipart/form-data" method="post">
    <input type="file" name="upload" multiple>
    <input type="submit" value="Upload">
  </form>

  <div class="row mt-4">
    <div class="col-md-6">
      <h3>Add a new book recommendation!</h3>
      <form class="form new-book-form">

        <div class="form-group" action="/" enctype="multipart/form-data" method="post">
          <label for="book-title">Book title:</label>
          <input class="form-input" type="text" id="book-title" name="book-title" />
        </div>

        <div class="form-group">
          <label for="book-author">Book author:</label>
          <input class="form-input" type="text" id="book-author" name="book-author" />
        </div>

        <div class="form-group">
          <label for="book-genre">Book genre:</label>
          <textarea class="form-input" id="book-genre" name="book-genre"></textarea>
        </div>

        <div class="form-group">
          <label for="book-desc">Description of book:</label>
          <textarea class="form-input" id="book-desc" name="book-desc"></textarea>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>

      </form>
    </div>
  </div>

  <script src="./js/profile.js"></script>
</body>

</html>




{{!-- app.get('/', function (req, res) {
res.sendFile(__dirname + '/index.html');
});

app.post('/upload', function (req, res) {
var form = new formidable.IncomingForm();

form.parse(req);

form.on('fileBegin', function (name, file) {
file.path = __dirname + '/public/uploads/' + file.name;
});

form.on('file', function (name, file) {
console.log('Uploaded ' + file.name);
});

res.sendFile(__dirname + '/index.html');


app.listen(3000);
}); --}}