:root {
  --yellow: #ffbc03;
  --ruby: #85102f;
  --orange: #e2451f;
  --wine: #f0d99c;
  --pink: #dd696d;
  --white: #ffffff;
  --black: #000000;
}
body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 200;
}
a:hover{
  color: var(--white);
  text-decoration: none;
}

h1,h2,h3,h4,h5 {
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
  text-transform: uppercase;
}

/* header section */
.navbar {
  background-color:var(--yellow);
  border-bottom: 2px solid var(--ruby);
}
h1 {
  font-size: 150px;
  color:var(--orange);
}
/*navigation */
.navbar-nav {
  flex-direction: row;
}
.navbar-nav .login {
  align-content:flex-end;

}
.navbar-nav a {
  color:var(--orange);
  font-size: 24px;
}
.navbar-nav :hover {
  text-decoration: underline;
  color:var(--ruby);
}
.navbar-nav :active {
  color:var(--ruby);
  text-decoration: bold;
}
.navbar-nav li {
  padding-left:20px;
}
.navbar-log li {
  /*padding: 6px 12px;*/
  font-size: 24px;
}
.btn-login {
  background-color: var(--orange);
  color: var(--white);
  margin-left:auto;
  margin-right: 0;
  padding: 6px 12px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.btn-login a {
  color:var(--white);
  text-decoration: none;
}


/* book entries */
.books {
  background-color:var(--yellow);
  padding: 30px 60px 60px;
}
.books h2 {
  font-size: 100px;
  color:var(--pink);
  padding-bottom: 30px;
}
.card {
  border: none;
  background-color:transparent;
}
.card h5 {
  color:var(--ruby);
}
.card p {
  color:var(--ruby);
}
.btn {
  background-color: var(--orange);
  color: var(--white);
  margin-left:auto;
  margin-right: auto;
}
.stars {
  color: var(--ruby);
  padding-left:30px;
  float:right;
  font-size: 16px;
  position: relative;
  bottom: 30px;
}
/* new category */
.books1 {
  background-color:var(--pink);
  padding: 30px 60px 60px;
}
.books1 h2 {
  font-size: 100px;
  color:var(--white);
  padding-bottom: 30px;
}
.books1 .card p {
  color:var(--white);
}
